
.navbar{
  height:70px;
  background: transparent;
  color:white;
  z-index: 1;
  top:0;
}
@media only screen  and (min-width:320px) and (max-width:720px){
  *{
    overflow-x: hidden !important;
  }
  .navbar{
    width: 100% !important;
    padding-left: -2px !important;
  }
  .links{
    display: none !important;
  }
  .homepic{
    height:300px !important;
    width: 100% !important;
  }
}
.pic-logo{
  height:100px;
  margin-top: -1rem;
}
.logo{
  display: flex;
  margin-top: 0.5rem;
}
.logo h1{
  background: linear-gradient(to right,rgb(190, 255, 205),rgb(222, 255, 222));
  background-clip: text;
  color: transparent;
  font-size: 1.4rem;
  font-family: serif;
  margin-top: 10px;
}
.links{
  position: absolute;
  right: 2rem;
  display: flex;
  font-family: serif;
}
.links button{
  text-decoration: none;
  color: white;
  background: rgba(41, 107, 80, 0.2);
  border: 1px solid rgb(84, 223, 176);
  border-radius: 5px;
  height:42px;
}
.links button a{
  text-decoration: none;
  color: white;
  font-weight: 500;
}
.link{
  margin-top: 0.5rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: serif;
  margin-right: 2rem;
}
.homepic{
  height:80vh;
  width:100%;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.homepic img{
  height:100%;
}
.about{
  margin-bottom: 4rem !important;
}
.about-picture{
  height:370px;
  border-radius: 8px;
}
.about h2{
  text-align: center;
  font-family: serif;
  margin-bottom: -0.2rem;
}
.hr-line{
  height:0.1rem;
  background-color: goldenrod;
  margin-bottom: 1.5rem;
}
.about-writeup{
  font-size:25px;
  font-family: serif;
  text-align: center;
}
.offers{
  background: lightseagreen;
  margin-bottom: 2rem;
  border-radius: 5px;
  height: 26rem;
}
.cycle{
  height:20rem;
  border-radius: 10px;
  animation: cycle 5s infinite linear;
}

.offer-deals{
  padding-top: 2rem;
  padding-left: 3rem !important;
}
.offers h2{
  font-family: serif;
  color: white;
}
.offer-deals ul{
  list-style: disc;
  color: white;
}
.offer-deals li{
  font-family: serif;
  font-size: 2rem;
}
.footer{
  bottom:0 !important;

  background: linear-gradient(to right,skyblue,rgb(0, 172, 157));;
}
.footer h2{
  text-align: center;
  font-family: serif;
}
.login-container{
  height: 80vh;
  border-radius: 10px;
  width: 90%;
  margin: 6rem auto;
  background: linear-gradient(rgba(3, 168, 132, 0.295),rgba(105, 179, 154, 0.384));
  box-shadow: rgb(255, 255, 255) -1px 1px 2px 2px;
}
.body{
  height:100vh;
  width:100%;
  position: absolute;
  top:0;
  padding-top: 0.6rem;
  background-color: rgba(4, 255, 180, 0.541);
}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 550px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}